<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Electromo Shopping Center</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Zen+Tokyo+Zoo&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" media="screen and (max-width: 1080px)" href="phone.css">
    <link rel="stylesheet" href="Nav-Section/nav.css">
    <link rel="stylesheet" href="Footer-Section/footer.css">
    <script src="script.js"></script>
    <script src="Nav-Section/nav.js"></script>
    <script src="https://kit.fontawesome.com/67739ecf35.js" crossorigin="anonymous"></script>
    <link rel="icon" type="png/x-icon" href="favicon1.png">
</head>

<body>
    <nav id="navbar"></nav>
    <div class="animation" style="overflow: hidden;">
        <div id="slide-box">
            <div class="slider">
                <div class="slider-img-explain">
                    <h2>IPHONE X</h2>
                    <p>iOS 11 make Iphone so smart, it learnt from you.</p>
                    <button class="slider-button" onclick="window.location.href='air conditioner/air.html';">Shop Now!</button>
                </div>
                <img src="slide-1-870x345.jpg" alt="Iphone">
            </div>
            <div class="slider">
                <div class="slider-img-explain">
                    <h2>SMART TV</h2>
                    <p>LG makes you modern, it learnt from you.</p>
                    <button class="slider-button" onclick="window.location.href='60-inch-tv/tv.html';">Shop Now!</button>
                </div>
                <img src="slide-2-870x345.jpg" alt="TV">
            </div>
            <div class="slider">
                <div class="slider-img-explain">
                    <h2>IPAD</h2>
                    <p>IPAD is so smart as laptop, it learnt from you.</p>
                    <button class="slider-button"> Shop Now!</button>
                </div>
                <img src="slide-3-870x345.jpg" alt="Ipad">
            </div>
            <div class="slider">
                <div class="slider-img-explain">
                    <h2>SONY DSLR</h2>
                    <p> Makes World's Best Technology, it learnt from you.</p>
                    <button class="slider-button" onclick="window.location.href='camera/camera.html';"> Shop Now!</button>
                </div>
                <img src="slide-4.jpg" alt="DSLR">
            </div>
            <div class="slider">
                <div class="slider-img-explain">
                    <h2>ZEBRONICS HEADPHONE</h2>
                    <p>Takes Out of World, it learnt from you.</p>
                    <button class="slider-button">Shop Now!</button>
                </div>
                <img src="slide-5.jpg" alt="Heaphone">
            </div>
        </div>
    </div>
    <div id="new-arrival">
        <div class="box">
            <img src="banner-1-570x350.jpg" alt="Earphone">
            <div class="arrivals-explain">
                <h2>New</h2>
                <h5>Arrival</h5>
                <button class="slider-button">Shop Now!</button>
            </div>
        </div>
        <div class="box">
            <img src="banner-2-570x350.jpg" alt="hand-watch">
            <div class="arrivals-explain">
                <h5>FREE SHIPPING & REFUND</h5>
                <h2>GUARANTEE!</h2>
            </div>
        </div>
        <div class="box"  onclick="window.location.href='mixer/mixer.html';">
            <img src="banner-3-570x350.jpg" alt="hand-watch">
            <div class="arrivals-explain">
                <h2 style="color: #00b6ff;">20% OFF</h2>
                <h5>SMART WATCHES</h5>
            </div>
        </div>
    </div>
    <div id="product-section">
        <div class="product-head">
            <p>Latest</p>
            <div class="scroller-btns">
                <button id="left-arrow">&lt;</button>
                <button id="right-arrow">&gt;</button>
            </div>
        </div>
        <div id="products">
            <div class="pro-1 pro" onclick="window.location.href='wireless soundbox/wireless.html';">
                <span class="ribbon-1">New</span>
                <span class="ribbon-2">Sale</span>
                <img src="product-43-200x200.png" alt="Sound-box">
                <div class="product-dt">
                    <h4>&#8377;4,999</h4>
                    <p><a href="wireless soundbox/wireless.html">Wireless Audio SoundBar</a></p>
                    <p>Comfort is very important things nowadays because it is a ...</p>
                    <div class="product-btn">
                        <i class="fa-solid fa-cart-shopping" id="cart-button" style="color: #000205;"
                            title="Add to Cart"></i>
                        <i class="fa-regular fa-heart" title="Add to Wishlist"></i>
                        <i class="fa-solid fa-arrow-right-arrow-left" style="color: #000000;"
                            title="Compare the Product"></i>
                        <i class="fa-solid fa-eye" title="Quick View"></i>
                    </div>
                    <div class="rating">
                        <i class="fa-regular fa-star fa-2xs" style="color: #0085af;"></i>
                        <i class="fa-regular fa-star fa-2xs" style="color: #0085af;"></i>
                        <i class="fa-regular fa-star fa-2xs" style="color: #0085af;"></i>
                        <i class="fa-regular fa-star fa-2xs" style="color: #0085af;"></i>
                        <i class="fa-regular fa-star fa-2xs" style="color: #0085af;"></i>
                    </div>
                </div>
            </div>
            <div class="pro-2 pro" onclick="window.location.href='electric iron/iron.html';">
                <span class="ribbon-1">New</span>
                <span class="ribbon-2">Sale</span>
                <img src="product-55-200x200.png" alt="Sound-box">
                <div class="product-dt">
                    <h4>&#8377;499</h4>
                    <p><a href="electric iron/iron.html">Master Iron with Anti-Drift System</a></p>
                    <p>Comfort is very important things nowadays because it is a ...</p>
                    <div class="product-btn">
                        <i class="fa-solid fa-cart-shopping" id="cart-button" style="color: #000205;"
                            title="Add to Cart"></i>
                        <i class="fa-regular fa-heart" title="Add to Wishlist"></i>
                        <i class="fa-solid fa-arrow-right-arrow-left" style="color: #000000;"
                            title="Compare the Product"></i>
                        <i class="fa-solid fa-eye" title="Quick View"></i>
                    </div>
                    <div class="rating">
                        <i class="fa-regular fa-star fa-2xs" style="color: #0085af;"></i>
                        <i class="fa-regular fa-star fa-2xs" style="color: #0085af;"></i>
                        <i class="fa-regular fa-star fa-2xs" style="color: #0085af;"></i>
                        <i class="fa-regular fa-star fa-2xs" style="color: #0085af;"></i>
                        <i class="fa-regular fa-star fa-2xs" style="color: #0085af;"></i>
                    </div>
                </div>
            </div>
            <div class="pro-3 pro" onclick="window.location.href='52 inch tv/52tv.html';">
                <span class="ribbon-1">New</span>
                <span class="ribbon-2">Sale</span>
                <img src="product-52-200x200.png" alt="Sound-box">
                <div class="product-dt">
                    <h4>&#8377;12,999</h4>
                    <p><a href="52 inch tv/52tv.html">48-Inch 1080p 60Hz Smart LED TV</a></p>
                    <p>Comfort is very important things nowadays because it is a ...</p>
                    <div class="product-btn">
                        <i class="fa-solid fa-cart-shopping" id="cart-button" style="color: #000205;"
                            title="Add to Cart"></i>
                        <i class="fa-regular fa-heart" title="Add to Wishlist"></i>
                        <i class="fa-solid fa-arrow-right-arrow-left" style="color: #000000;"
                            title="Compare the Product"></i>
                        <i class="fa-solid fa-eye" title="Quick View"></i>
                    </div>
                    <div class="rating">
                        <i class="fa-regular fa-star fa-2xs" style="color: #0085af;"></i>
                        <i class="fa-regular fa-star fa-2xs" style="color: #0085af;"></i>
                        <i class="fa-regular fa-star fa-2xs" style="color: #0085af;"></i>
                        <i class="fa-regular fa-star fa-2xs" style="color: #0085af;"></i>
                        <i class="fa-regular fa-star fa-2xs" style="color: #0085af;"></i>
                    </div>
                </div>
            </div>
            <div class="pro-4 pro" onclick="window.location.href='60-inch-tv/tv.html';">
                <span class="ribbon-1">New</span>
                <span class="ribbon-2">Sale</span>
                <img src="product-49-200x200.png" alt="Sound-box">
                <div class="product-dt">
                    <h4>&#8377;24,999</h4>
                    <p><a href="60-inch-tv/tv.html">65-Inch 4k Ultra HD Smart LED TV </a></p>
                    <p>Comfort is very important things nowadays because it is a ...</p>
                    <div class="product-btn">
                        <i class="fa-solid fa-cart-shopping" id="cart-button" style="color: #000205;"
                            title="Add to Cart"></i>
                        <i class="fa-regular fa-heart" title="Add to Wishlist"></i>
                        <i class="fa-solid fa-arrow-right-arrow-left" style="color: #000000;"
                            title="Compare the Product"></i>
                        <i class="fa-solid fa-eye" title="Quick View"></i>
                    </div>
                    <div class="rating">
                        <i class="fa-regular fa-star fa-2xs" style="color: #0085af;"></i>
                        <i class="fa-regular fa-star fa-2xs" style="color: #0085af;"></i>
                        <i class="fa-regular fa-star fa-2xs" style="color: #0085af;"></i>
                        <i class="fa-regular fa-star fa-2xs" style="color: #0085af;"></i>
                        <i class="fa-regular fa-star fa-2xs" style="color: #0085af;"></i>
                    </div>
                </div>
            </div>
            <div class="pro-5 pro" onclick="window.location.href='28 inch tv/tv28.html';">
                <span class="ribbon-1">New</span>
                <span class="ribbon-2">Sale</span>
                <img src="product-46-200x200.png" alt="Sound-box">
                <div class="product-dt">
                    <h4>&#8377;8,999</h4>
                    <p><a href="28 inch tv/tv28.html">28-Inch 720p 60Hz LED TV</a></p>
                    <p>Comfort is very important things nowadays because it is a ...</p>
                    <div class="product-btn">
                        <i class="fa-solid fa-cart-shopping" id="cart-button" style="color: #000205;"
                            title="Add to Cart"></i>
                        <i class="fa-regular fa-heart" title="Add to Wishlist"></i>
                        <i class="fa-solid fa-arrow-right-arrow-left" style="color: #000000;"
                            title="Compare the Product"></i>
                        <i class="fa-solid fa-eye" title="Quick View"></i>
                    </div>
                    <div class="rating">
                        <i class="fa-regular fa-star fa-2xs" style="color: #0085af;"></i>
                        <i class="fa-regular fa-star fa-2xs" style="color: #0085af;"></i>
                        <i class="fa-regular fa-star fa-2xs" style="color: #0085af;"></i>
                        <i class="fa-regular fa-star fa-2xs" style="color: #0085af;"></i>
                        <i class="fa-regular fa-star fa-2xs" style="color: #0085af;"></i>
                    </div>
                </div>
            </div>
            <div class="pro-6 pro" onclick="window.location.href='Sound box/sound.html';">
                <span class="ribbon-1">New</span>
                <span class="ribbon-2">Sale</span>
                <img src="product-58-200x200.png" alt="Sound-box">
                <div class="product-dt">
                    <h4>&#8377;1,199</h4>
                    <p><a href="Sound box/sound.html">Sound Box with Wireless Subwoofer</a></p>
                    <p>Comfort is very important things nowadays because it is a ...</p>
                    <div class="product-btn">
                        <i class="fa-solid fa-cart-shopping" id="cart-button" style="color: #000205;"
                            title="Add to Cart"></i>
                        <i class="fa-regular fa-heart" title="Add to Wishlist"></i>
                        <i class="fa-solid fa-arrow-right-arrow-left" style="color: #000000;"
                            title="Compare the Product"></i>
                        <i class="fa-solid fa-eye" title="Quick View"></i>
                    </div>
                    <div class="rating">
                        <i class="fa-regular fa-star fa-2xs" style="color: #0085af;"></i>
                        <i class="fa-regular fa-star fa-2xs" style="color: #0085af;"></i>
                        <i class="fa-regular fa-star fa-2xs" style="color: #0085af;"></i>
                        <i class="fa-regular fa-star fa-2xs" style="color: #0085af;"></i>
                        <i class="fa-regular fa-star fa-2xs" style="color: #0085af;"></i>
                    </div>
                </div>
            </div>
            <div class="pro-7 pro" onclick="window.location.href='camera/camera.html';">
                <span class="ribbon-1">New</span>
                <span class="ribbon-2">Sale</span>
                <img src="product-7-270x270.png" alt="Sound-box">
                <div class="product-dt">
                    <h4>&#8377;121,499</h4>
                    <p><a href="camera/camera.html">Canon DSLR Camera</a></p>
                    <p>Comfort is very important things nowadays because it is a ...</p>
                    <div class="product-btn">
                        <i class="fa-solid fa-cart-shopping" id="cart-button" style="color: #000205;"
                            title="Add to Cart"></i>
                        <i class="fa-regular fa-heart" title="Add to Wishlist"></i>
                        <i class="fa-solid fa-arrow-right-arrow-left" style="color: #000000;"
                            title="Compare the Product"></i>
                        <i class="fa-solid fa-eye" title="Quick View"></i>
                    </div>
                    <div class="rating">
                        <i class="fa-regular fa-star fa-2xs" style="color: #0085af;"></i>
                        <i class="fa-regular fa-star fa-2xs" style="color: #0085af;"></i>
                        <i class="fa-regular fa-star fa-2xs" style="color: #0085af;"></i>
                        <i class="fa-regular fa-star fa-2xs" style="color: #0085af;"></i>
                        <i class="fa-regular fa-star fa-2xs" style="color: #0085af;"></i>
                    </div>
                </div>
            </div>
            <div class="pro-8 pro" onclick="window.location.href='mixer/mixer.html';">
                <span class="ribbon-1">New</span>
                <span class="ribbon-2">Sale</span>
                <img src="product-31-270x270.png" alt="Sound-box">
                <div class="product-dt">
                    <h4>&#8377;2,499</h4>
                    <p><a href="mixer/mixer.html">Juice Mixer</a></p>
                    <p>Comfort is very important things nowadays because it is a ...</p>
                    <div class="product-btn">
                        <i class="fa-solid fa-cart-shopping" id="cart-button" style="color: #000205;"
                            title="Add to Cart"></i>
                        <i class="fa-regular fa-heart" title="Add to Wishlist"></i>
                        <i class="fa-solid fa-arrow-right-arrow-left" style="color: #000000;"
                            title="Compare the Product"></i>
                        <i class="fa-solid fa-eye" title="Quick View"></i>
                    </div>
                    <div class="rating">
                        <i class="fa-regular fa-star fa-2xs" style="color: #0085af;"></i>
                        <i class="fa-regular fa-star fa-2xs" style="color: #0085af;"></i>
                        <i class="fa-regular fa-star fa-2xs" style="color: #0085af;"></i>
                        <i class="fa-regular fa-star fa-2xs" style="color: #0085af;"></i>
                        <i class="fa-regular fa-star fa-2xs" style="color: #0085af;"></i>
                    </div>
                </div>
            </div>
            <div class="pro-9 pro" onclick="window.location.href='air conditioner/air.html';">
                <span class="ribbon-1">New</span>
                <span class="ribbon-2">Sale</span>
                <img src="product-16-270x270.png" alt="Sound-box">
                <div class="product-dt">
                    <h4>&#8377;24,499</h4>
                    <p><a href="air conditioner/air.html">Air Conditioner</a></p>
                    <p>Comfort is very important things nowadays because it is a ...</p>
                    <div class="product-btn">
                        <i class="fa-solid fa-cart-shopping" id="cart-button" style="color: #000205;"
                            title="Add to Cart"></i>
                        <i class="fa-regular fa-heart" title="Add to Wishlist"></i>
                        <i class="fa-solid fa-arrow-right-arrow-left" style="color: #000000;"
                            title="Compare the Product"></i>
                        <i class="fa-solid fa-eye" title="Quick View"></i>
                    </div>
                    <div class="rating">
                        <i class="fa-regular fa-star fa-2xs" style="color: #0085af;"></i>
                        <i class="fa-regular fa-star fa-2xs" style="color: #0085af;"></i>
                        <i class="fa-regular fa-star fa-2xs" style="color: #0085af;"></i>
                        <i class="fa-regular fa-star fa-2xs" style="color: #0085af;"></i>
                        <i class="fa-regular fa-star fa-2xs" style="color: #0085af;"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="contact-section"></div>
    <!-- CHAT-BOT-MARKUP -->
<button id="chatbot-toggle"><i class="fa-solid fa-comment-dots"></i></button>
<div id="chatbot" class="chatbot">
    <div class="chat-box" id="chat-box">
        <div class="message bot-message">Hello! How can I help you?</div>
    </div>
    <input type="text" id="user-input" placeholder="Type a message...">
    <button onclick="sendMessage()">Send</button>
</div>
</body>

</html>