* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
}

body{
    background-size: cover;
    /* align-items: center; */
    width: 100vh;
}

#hidden-box{
    width: 25%;
    left: 162%;
}

.slider{
    width: 150vw;
}

.slider-button{
    width: 17vw;
}

#new-arrival{
    height: 20vh;
}

.ribbon-1{
    top: -1.8%;
}

.ribbon-2{
    top: -1.8%;
}