<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Electromo Shopping Center</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Zen+Tokyo+Zoo&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="about.css">
    <link rel="stylesheet" href="../Nav-Section/nav.css">
    <link rel="stylesheet" href="../Footer-Section/footer.css">
    <script src="../Nav-Section/nav.js"></script>
    <script src="about.js"></script>
    <script src="https://kit.fontawesome.com/67739ecf35.js" crossorigin="anonymous"></script>
    <link rel="icon" type="png/x-icon" href="favicon2.png">
</head>

<body>
    <div id="navbar"></div>
    <div class="paths">
        <div class="path">
            <a href="../index.html"> <i class="fa-solid fa-house"></i>Home</a> &gt; About
        </div>
        <div class="about-container">
            <h3><i class="fa-regular fa-star"></i> What People Say About Us <i class="fa-regular fa-star"></i></h3>
            <h3><i class="fa-regular fa-star"></i> OUR TEAM <i class="fa-regular fa-star"></i></h3>
            <p><i class="fa-regular fa-star"></i> Board of Directors <i class="fa-regular fa-star"></i></p>
            <div class="board-directors team">
                <div class="director">
                    <div class="img-box">
                        <img src="tejwant.png" alt="Tejwant">
                    </div>
                    <h3>Tejwant</h3>
                    <p class="expo">BOD of Electromo Shopping Centre with no experience. He always excited for new launch.</p>
                </div>
                <div class="director">
                   <div class="img-box">
                    <img src="Nirbhay.png" alt="Nirbhay">
                   </div>
                    <h3>Nirbhay Kumar Prajapati</h3>
                    <p class="expo">BOD of Electromo Shopping Centre with 5 year of experience. He is a great guy with calmness mind and depth thinking.</p>
                </div>
                <div class="director">
                    <div class="img-box">
                        <img src="satyam.png" alt="satyam">
                    </div>
                    <h3>Satyam Rai</h3>
                    <p class="expo">BOD of Electromo Shopping Centre with fresh experience. He is a young director in our company with new ideas.</p>
                </div>
            </div>
            <p><i class="fa-regular fa-star"></i> CEO <i class="fa-regular fa-star"></i></p>
            <div class="ceo team">
                <div class="img-box">
                    <img src="Abhinav.png" alt="Abhinav">
                </div>
                <div class="ceo-data">
                    <h3>Abhinav Kumar Maurya</h3>
                    <p class="expo">CEO of Electromo Shopping Centre with no experience but had a quick learner. He knows how to use things at right time at right place.</p>
                </div>
            </div>
            <p><i class="fa-regular fa-star"></i> Mangement Team <i class="fa-regular fa-star"></i></p>
            <div class="managment-team team">
                <div class="family">
                    <div class="img-box">
                        <img src="sachin.png" alt="Sachin">
                    </div>
                    <h3>Sachin Verma</h3>
                    <p class="expo">Team Member in Management Team in Electromo Shopping Centre with 8 years of experience. He always think new ideas to fix the things. His behabiour with his colleagues is gloomy with joy.</p>
                </div>
                <div class="family">
                   <div class="img-box">
                    <img src="prashant.png" alt="prashant">
                   </div>
                    <h3>Prashant Kumar</h3>
                    <p class="expo">Team Member in Management Team in Electromo Shopping Centre with 3 years of experience. His works alaways accurate and fresh.</p>
                </div>
                <div class="family">
                    <div class="img-box">
                        <img src="ankit.png" alt="ankit">
                    </div>
                    <h3>Ankit Srinet</h3>
                    <p class="expo">Team Member in Management Team in Electromo Shopping Centre with 4 years of experience. He always see the problem and things with eyes of doubt.</p>
                </div>
            </div>
            <p><i class="fa-regular fa-star"></i> Technical Team <i class="fa-regular fa-star"></i></p>
            <div class="technical-team team">
                <div class="family">
                    <div class="img-box">
                        <img src="vijay.png" alt="vijay">
                    </div>
                    <h3>Vijay Dev</h3>
                    <p class="expo">Team Member in Technical Team in Electromo Shopping Centre with 5 years of experience. He is very sharp mind and productive.</p>
                </div>
                <div class="family">
                  <div class="img-box">
                    <img src="imraan.png" alt="imraan">
                  </div>
                    <h3>Imraan</h3>
                    <p class="expo">Team Member in Technical Team in Electromo Shopping Centre join as young fresher. He is also a pharmacist. He is also a funny guy that always happy their colleagues.</p>
                </div>
                <div class="family">
                   <div class="img-box">
                    <img src="bhanu.png" alt="bhanu">
                   </div>
                    <h3>Bhaanu Pratap</h3>
                    <p class="expo">Team Member in Technical Team in Electromo Shopping Centre join as a talent guy. He is a fearless guy and always done his work on committed time.</p>
                </div>
            </div>
            <p><i class="fa-regular fa-star"></i> Experts Team <i class="fa-regular fa-star"></i></p>
            <div class="experts-team team">
                <div class="family">
                   <div class="img-box">
                    <img src="chotak.png" alt="chotak">
                   </div>
                    <h3>Chhotak Verma</h3>
                    <p class="expo">Team Member in Experts Team in Electromo Shopping Centre with experience of 3 years. He is a very energetic guy and looks very calm. People loves to talk with him.</p>
                </div>
                <div class="family">
                    <div class="img-box">
                        <img src="aditya.png" alt="aditya">
                    </div>
                    <h3>Aditya Sahani</h3>
                    <p class="expo">Team Member in Experts Team in Electromo Shopping Centre with no experience. He always done his analysis in depth for better productive and performance.</p>
                </div>
                <div class="family">
                   <div class="img-box">
                    <img src="guruji.png" alt="guruji">
                   </div>
                    <h3>Trail Blazers</h3>
                    <p class="expo">Best Expert in our Industry. They are as cold as snow but have fire like attitude towards their aim and goals. They know what they have to do.</p>
                </div>
            </div>
            <p><i class="fa-regular fa-star"></i> Sales Team <i class="fa-regular fa-star"></i></p>
            <div class="sales-team team">
                <div class="family">
                 <div class="img-box">
                    <img src="chhotu.png" alt="chhotu">
                 </div>
                    <h3>Chhotu Bhai</h3>
                    <p class="expo">Team Member in Sales Team in Electromo Shopping Centre with experience of more than 6 years. He knows everything
                        about the products that he sells.</p>
                </div>
                <div class="family">
                  <div class="img-box">
                    <img src="vivek.png" alt="vivek">
                  </div>
                    <h3>Vivek Verma</h3>
                    <p class="expo">Team Member in Sales Team in Electromo Shopping Centre joins as a fresher. His work always done fast and clear. He is a funny guy in our team.</p>
                </div>
                <div class="family">
                  <div class="img-box">
                    <img src="vikash.png" alt="vikash">
                  </div>
                    <h3>Vikash Kharwar</h3>
                    <p class="expo">Team Member in Sales Team in Electromo Shopping Centre join as young fresher. He is copying man and always done his job in last minute.</p>
                </div>
            </div>
        </div>
    </div>
    <div id="contact-section"></div>
</body>

</html>