<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Electromo Shopping Center</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Zen+Tokyo+Zoo&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../Nav-Section/nav.css">
    <link rel="stylesheet" href="../Footer-Section/footer.css">
    <script src="../Nav-Section/nav.js"></script>
    <link rel="stylesheet" href="delivery.css">
    <script src="delivery.js"></script>
    <script src="https://kit.fontawesome.com/67739ecf35.js" crossorigin="anonymous"></script>
    <link rel="icon" type="png/x-icon" href="favicon2.png">
</head>
<body>
    <div id="navbar"></div>
    <div class="paths">
        <div class="path">
            <a href="../index.html"> <i class="fa-solid fa-house"></i>Home</a> &gt; Delivery Information
        </div>
    </div>
    <div class="summary">
        <p id="p1">Hello And Welcome To The Shipping And Delivery Information Page! Here You Can Get Acquainted With Useful Information On Terms And Conditions Of Our Goods Delivery.</p>
        <p>You can purchase your items online and pick them up at our street store, or ship them directly to your doorstep. Shipping is free on some orders. We use the best carriers in the business to make sure your order gets to you on time. From the Secure Checkout page you'll see your item description, price and delivery timing. Where available, you can also choose a faster delivery method for each item on your order, for an additional fee. Delivery times vary according to your selected delivery address, availability of your items and the time of day you place your order.</p>
    </div>
    <div class="delivery-box">
        <div class="delivery-head">
            <h3>Service</h3>
            <h3>Locations</h3>
            <h3>Delivery Time</h3>
            <h3>Cost per Shipment</h3>
        </div>
        <div class="delivery-items">
            <h3>Royal mail 1st Class Service (Order value  &#8377;20000 or less)</h3>
            <p>All States within India</p>
            <p>1-3 Days <br> Monday - Saturday</p>
            <h3> &#8377;499</h3>
        </div>
        <div class="delivery-items">
            <h3>Royal mail Tracker (Order value  &#8377;50000 or less)</h3>
            <p>India's Neighbouring Countries</p>
            <p>1-3 Days <br> Monday - Saturday</p>
            <h3> &#8377;699</h3>
        </div>
        <div class="delivery-items">
            <h3>Standard Courier Delivery</h3>
            <p>Uttar Pradesh Only</p>
            <p>1-3 Days <br> Monday - Saturday</p>
            <h3> &#8377;299</h3>
        </div>
        <div class="delivery-items">
            <h3>Standard Courier Delivery</h3>
            <p>Northern Hilly Areas(Jammu & Kashmir, Ladakh, Himachal Pradesh)</p>
            <p>3-5 Days <br> Monday - Saturday</p>
            <h3> &#8377;999</h3>
        </div>
        <div class="delivery-items">
            <h3>Priority courier pre 12pm Next Working Day</h3>
            <p>All India</p>
            <p>Pre 12pm <br>Delivery 7.30am-12pm <br> Monday - Saturday</p>
            <h3> &#8377;1499</h3>
        </div>
    </div>
    <div class="free-delivery">
        <p>Free Delivery</p>
    <p>Free two-day shipping is available on in-stock items. You can see in your bag if your item is in stock. Free two-day shipping is not available on customized, engraved products, and for certain order types, including orders paid for with financing or by bank transfer. To get free two-day shipping, you will need to place your order by 5pm, Monday to Friday. For instance, if you order your goods before 5:00 pm, Monday to Friday we will deliver them in two business days.</p>
    </div>
        <div id="contact-section"></div>
</body>
</html>