<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Electromo Shopping Center</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Zen+Tokyo+Zoo&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../Nav-Section/nav.css">
    <link rel="stylesheet" href="../../Footer-Section/footer.css">
    <script src="../..//Nav-Section/nav.js"></script>
    <script src="confirm.js"></script>
    <link rel="stylesheet" href="confirm.css">
    <script src="https://kit.fontawesome.com/67739ecf35.js" crossorigin="anonymous"></script>
    <link rel="icon" type="png/x-icon" href="favicon2.png">
</head>
<body>
    <div id="navbar"></div>
    <div class="paths">
        <div class="path">
            <a href="../../index.html"> <i class="fa-solid fa-house"></i>Home</a> &gt; Purchasing Gift Certificate
        </div>
    </div>
    <div class="container">
        <p>Thank you for purchasing a gift certificate! Once you have completed your order your gift certificate recipient will be sent an e-mail with details how to redeem their gift certificate.</p>
        <a href="../../index.html">Go to Home</a>
    </div>

    <div id="contact-section"></div>
</body>
</html>