<head>
    <link rel="stylesheet" href="footer.css">
</head>
<div id="contact-section">
    <div id="sponsor">
        <img src="Electromo_big.jpg" alt="sponsor">
    </div>
   <div class="foot">
    <div class="useful-links">
        <div class="Info">
            <p>Information</p>
            <a href="../About-Section/about.html">About Us</a>
            <a href="../Delivery page/delivery.html">Delivery Information</a>
            <a href="../privacy-page/privacy.html">Privacy Policy</a>
            <a href="../Terms and Condition Page/terms.html">Terms & Conditions</a>
        </div>
        <div class="accounts">
            <p>My Account</p>
            <a href="../Wish-Section/wish.html">My Account</a>
            <a href="../Wish-Section/wish.html">Order History</a>
            <a href="../Wish-Section/wish.html">Find a Wishlist</a>
            <a href="../Gift Page/gift.html">Gift Certificates</a>
        </div>
        <div class="services">
            <p>Customer Service</p>
            <a href="/">Contact Us</a>
            <a href="../Return Page/return.html">Returns</a>
            <a href="/">Site Map</a>
            <a href="68.183.94.46">Blog</a>
        </div>
    </div>
    <footer class="footer">
        <img src="plugin.png" alt="Electromo">
        Powered By OpenCart Electromo © 2024. Design by AbhiBhai.
    </footer>
   </div>
</div>